<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/download" method="get">
        <input type="text" name="Filekey" >
        <input type="submit" name="Download" value="Download">
    </form>
</body>
</html>