<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/upload" method="post" enctype="multipart/form-data" onsubmit="return false">
        <input type="file" name="file" id="fileInput" />
        <input type="submit" value="Upload" id="uploadButton">
        <br>
        <br>
        <p>
            <%=Filestatus %>
        </p>
        <br>

        <% if(Filekey){ %>
            <p>your Key for downloading the file <%=Filekey%>
            </p>
            <% } %>

    </form>


</body>

</html>